body{
    background: white;
}

form {
    width: 50%;
    background: grey;
    margin: 40px auto;
    padding: 60 60 20;
}

label, input {
    display: inline;
    width: 200px;
    padding: 10px;
}

label {

}

#jezik{
    width: 600px;
}